{% extends 'public/base.html' %}

{% block custom_css %}

    <!-- Fontfaces CSS-->

{% endblock custom_css %}

{% block content %}
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        {% include 'public/mobile_head.html' %}
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        {% include 'public/aside.html' %}
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            {% include 'public/head.html' %}
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
	                <div class="container-fluid">
		                <div class="row">
			                <div class="col-md-12">
                                <div class="card">
                                    <img class="card-img-top" src="/static/images/background.jpg" alt="Card image cap">
                                    <div class="card-body">
	                                    <div class="m-t-25">
		                                    <h4 class="card-title mb-3">关于工程师管理系统</h4>
	                                        <p class="card-text">
		                                        本系统是基于 <span style="font-size: 115%; font-weight: 500">bootstrap</span>&nbsp;+&nbsp;<span style="font-size: 115%; font-weight: 500">django</span>搭建的响应式网站
	                                        </p>
                                            <p class="card-text">
		                                        本系统用于管理工程师的信息，操作高效便捷，易于操作
	                                        </p>
	                                    </div>

                                    </div>
                                </div>
                            </div>
		                </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>
{% endblock content %}

{% block cutsom_js %}
{% endblock cutsom_js %}
