{% extends 'public/base.html' %}

{% block custom_css %}

    <!-- Fontfaces CSS-->

{% endblock custom_css %}

{% block content %}
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        {% include 'public/mobile_head.html' %}
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
	    {% include 'public/aside.html' %}
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            {% include 'public/head.html' %}
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <input type="hidden" id="boy_num" value="{{ sex_pie.boy }}">
                <input type="hidden" id="girl_num" value="{{ sex_pie.girl }}">
                <input type="hidden" id="work_pro_5" value="{{ work_pie.work_pro_5 }}">
                <input type="hidden" id="work_pro_10" value="{{ work_pie.work_pro_10 }}">
                <input type="hidden" id="work_pro_15" value="{{ work_pie.work_pro_15 }}">

                <div class="section__content section__content--p30">
	                <div class="row">
                        <div class="col-md-12">
                            <div class="overview-wrap">
                                <h2 class="title-1">工程师数据管理统计图</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row m-t-25">
                        <div class="col-sm-6 col-lg-3">
                            <div class="overview-item overview-item--c1">
                                <div class="overview__inner">
                                    <div class="overview-box clearfix">
                                        <div class="icon">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <div class="text">
                                            <h2> {{ all_num }} </h2>
                                            <span>工程师总数</span>
                                        </div>
                                    </div>
                                    <div class="overview-chart">
                                        <canvas id="widgetChart1"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="overview-item overview-item--c2">
                                <div class="overview__inner">
                                    <div class="overview-box clearfix">
                                        <div class="icon">
                                            <i class="fa fa-jpy"></i>
                                        </div>
                                        <div class="text">
                                            <h2> {{ basic_wage }} </h2>
                                            <span>平均薪水</span>
                                        </div>
                                    </div>
                                    <div class="overview-chart">
                                        <canvas id="widgetChart2"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="overview-item overview-item--c3">
                                <div class="overview__inner">
                                    <div class="overview-box clearfix">
                                        <div class="icon">
                                            <i class="fa fa-bar-chart-o"></i>
                                        </div>
                                        <div class="text">
                                            <h2>{{ seniority }}</h2>
                                            <span>平均工龄</span>
                                        </div>
                                    </div>
                                    <div class="overview-chart">
                                        <canvas id="widgetChart3"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="overview-item overview-item--c4">
                                <div class="overview__inner">
                                    <div class="overview-box clearfix">
                                        <div class="icon">
                                            <i class="fa fa-globe"></i>
                                        </div>
                                        <div class="text">
                                            <h2>杭州</h2>
                                            <span>主要分布地</span>
                                        </div>
                                    </div>
                                    <div class="overview-chart">
                                        <canvas id="widgetChart4"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div id="sex_container"></div>
                        </div>
                        <div class="col-lg-6">
                            <div id="work_container"></div>
                        </div>
                    </div>
                    <div class="row " style="margin-top: 3rem">
                        <div class="col-lg-12">
                            <div id="wage_container"></div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>
{% endblock content %}

{% block cutsom_js %}
    <script src="/static/js/highcharts.js"></script>
    <script src="/static/js/highcharts-3d.js"></script>
    <script>
        var boy = parseFloat($('#boy_num').val());
        var girl = parseFloat($('#girl_num').val());
        console.log(boy, girl);
        var chart = Highcharts.chart('sex_container', {
            chart: {
                type: 'pie',
                options3d: {
                    enabled: true,
                    alpha: 45,
                    beta: 0
                }
            },
            title: {
                text: '工程师男女比例占比'
            },
            colors:['#09B3EB','#FF65E5','#ffaca8','#64bcec'],
            tooltip: {
                pointFormat: '{point.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    depth: 35,
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}'
                    }
                }
            },
            series: [{
                type: 'pie',
                name: '工程师男女比例占比',
                data: [
                    ['男性工程师', boy],
                    {
                        name: '女性工程师',
                        y: girl,
                        sliced: true,
                        selected: true
                    },
                ]
            }]
        });
    </script>

    <script>
        var work_pro_5 = parseFloat($('#work_pro_5').val());
        var work_pro_10 = parseFloat($('#work_pro_10').val());
        var work_pro_15 = parseFloat($('#work_pro_15').val());
        console.log(work_pro_5);
        console.log(work_pro_10);
        console.log(work_pro_15);

        var chart = Highcharts.chart('work_container', {
            chart: {
                type: 'pie',
                options3d: {
                    enabled: true,
                    alpha: 45,
                    beta: 0
                }
            },
            title: {
                text: '工程师工龄比例占比饼状图'
            },
            colors:['#FF8314','#13E835','#1CEBDB','#EB1FFF'],
            tooltip: {
                pointFormat: '{point.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    depth: 35,
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}'
                    }
                }
            },
            series: [{
                type: 'pie',
                name: '工程师工龄比例占比饼状图',
                data: [
                    ['工龄 < 5', work_pro_5],
                    ['工龄 5~10 ', work_pro_10],
                    {
                        name: '工龄 > 15',
                        y: work_pro_15,
                        sliced: true,
                        selected: true
                    },
                ]
            }]
        });
    </script>

    <script>
    var datas = {{ all_datas }};
    console.log(datas);
    var chart = Highcharts.chart('wage_container', {
            chart: {
                type: 'scatter',
                zoomType: 'xy'
            },
            title: {
                text: '工程师工龄和工资的分布图'
            },
            subtitle: {
                text: '工龄与工资的分布'
            },
            xAxis: {
                title: {
                    enabled: true,
                    text: '工龄 (年)'
                },
                startOnTick: true,
                endOnTick: true,
                showLastLabel: true
            },
            yAxis: {
                title: {
                    text: '工资 (元)'
                }
            },
            legend: {
                layout: 'vertical',
                align: 'left',
                verticalAlign: 'top',
                x: 100,
                y: 70,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
                borderWidth: 1
            },
            plotOptions: {
                scatter: {
                    marker: {
                        radius: 5,
                        states: {
                            hover: {
                                enabled: true,
                                lineColor: 'rgb(100,100,100)'
                            }
                        }
                    },
                    states: {
                        hover: {
                            marker: {
                                enabled: false
                            }
                        }
                    },
                    tooltip: {
                        headerFormat: '<b>{series.name}</b><br>',
                        pointFormat: '{point.x} 年, {point.y} 元'
                    }
                }
            },
            series: [{
                name: '工程师',
                color: 'rgba(240, 59, 29, .4)',
                data: datas
            }]
        });
    </script>
{% endblock cutsom_js %}

