{% extends 'public/base.html' %}

{% block custom_css %}

    <!-- Fontfaces CSS-->

{% endblock custom_css %}

{% block content %}
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        {% include 'public/mobile_head.html' %}
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        {% include 'public/aside.html' %}
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            {% include 'public/head.html' %}
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- USER DATA-->
                            <div class="user-data m-b-30">
                                <h2 class="title-3 m-b-30">
                                    <i class="zmdi zmdi-account-calendar"></i>
                                    工程师信息表
                                </h2>
                                <div class="filters m-b-45">
                                    <div class="rs-select2--dark rs-select2--sm rs-select2--border">
                                        <select class="js-select2 au-select-dark" id="p_change">
                                            <option value="0" {% if conditions.p_change == 0 %}selected="selected"{% endif %}>性别</option>
                                            <option value="1" {% if conditions.p_change == 1 %}selected="selected"{% endif %}>男</option>
                                            <option value="2" {% if conditions.p_change == 2 %}selected="selected"{% endif %}>女</option>
                                        </select>
                                        <div class="dropDownSelect2"></div>
                                    </div>
                                    <div class="rs-select2--dark rs-select2--sm rs-select2--border">
                                        <select class="js-select2 au-select-dark" id="price_change">
                                            <option value="0" {% if conditions.price_change == 0 %}selected="selected"{% endif %}>学历</option>
                                            <option value="1" {% if conditions.price_change == 1 %}selected="selected"{% endif %}>高中</option>
                                            <option value="2" {% if conditions.price_change == 2 %}selected="selected"{% endif %}>学士</option>
                                            <option value="2" {% if conditions.price_change == 2 %}selected="selected"{% endif %}>硕士</option>
                                            <option value="2" {% if conditions.price_change == 2 %}selected="selected"{% endif %}>博士</option>
                                            <option value="2" {% if conditions.price_change == 2 %}selected="selected"{% endif %}>其他</option>
                                        </select>
                                        <div class="dropDownSelect2"></div>
                                    </div>

                                    <div class="rs-select2--dark rs-select2--sm rs-select2--border">
                                        <select class="js-select2 au-select-dark" id="price_change">
                                            <option value="0" {% if conditions.price_change == 0 %}selected="selected"{% endif %}>基本工资</option>
                                            <option value="1" {% if conditions.price_change == 1 %}selected="selected"{% endif %}>从高到低</option>
                                            <option value="2" {% if conditions.price_change == 2 %}selected="selected"{% endif %}>从低到高</option>
                                        </select>
                                        <div class="dropDownSelect2"></div>
                                    </div>
                                    <div class="rs-select2--dark rs-select2--sm rs-select2--border">
                                        <select class="js-select2 au-select-dark" id="price_change">
                                            <option value="0" {% if conditions.price_change == 0 %}selected="selected"{% endif %}>工龄</option>
                                            <option value="1" {% if conditions.price_change == 1 %}selected="selected"{% endif %}>从高到低</option>
                                            <option value="2" {% if conditions.price_change == 2 %}selected="selected"{% endif %}>从低到高</option>
                                        </select>
                                        <div class="dropDownSelect2"></div>
                                    </div>

	                                <a id="condition_submit" class="btn btn-primary" href="#" role="button">筛选</a>

                                </div>
                                <div class="table-responsive table-data" style="overflow-y: visible; height: auto">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <td style="font-size: 110%">ID</td>
                                                <td style="font-size: 110%">工作编号</td>
                                                <td style="font-size: 110%">名字</td>
                                                <td style="font-size: 110%">性别</td>
                                                <td style="font-size: 110%">出生日期</td>
                                                <td style="font-size: 110%">学历</td>
                                                <td style="font-size: 110%">工龄</td>
                                                <td style="font-size: 110%">基本工资</td>
                                                <td style="font-size: 110%">详细数据</td>
                                                <td style="font-size: 110%">更多操作</td>
                                            </tr>
                                        </thead>
                                        <tbody id="content">
                                        {% for data in datas %}
                                            <tr>

                                                <td>
                                                    <div class="table-data__info">
                                                        <h6 style="font-size: 110%; padding-left: 1em; {% if forloop.counter < 4 %}color: #e60213;{% endif %} font-weight: 600">{{ forloop.counter }}</h6>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-data__info">
                                                        <h6>{{ data.number }}</h6>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-data__info">
                                                        <h6>{{ data.name }}</h6>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-data__info">
                                                        <h6>{% if data.sex == 0 %}<i class="fa fa-female" style="font-size: 170%; color: #ed4997" data-toggle="tooltip" data-placement="top" title="" data-original-title="女性"></i>{% else %} <i class="fa fa-male" style="font-size: 170%; color: #00a2e3" data-toggle="tooltip" data-placement="top" title="" data-original-title="男性"></i> {% endif %} </h6>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-data__info" >
                                                        <h6>{{ data.birth_date }}</h6>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-data__info">
                                                        <h6>{% if data.education == 0 %}高中{% elif data.education == 1 %}学士{% elif data.education == 2 %}硕士{% elif data.education == 3 %}博士{% else %}其他{% endif %}</h6>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-data__info" >
                                                        <h6>{{ data.hometown }}</h6>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-data__info">
                                                        <h6 ><i class="fa fa-cny (alias)" style="font-size: 110%; color: #f9b500; margin-right: .6rem"></i>{{ data.basic_wage }}</h6>
                                                    </div>
                                                </td>

                                                <td>
                                                    <span id="more" class="more" data-toggle="tooltip" data-placement="top" title="" data-original-title="工程师{{ data.name }}数据详情">
                                                        <i class="zmdi zmdi-more"></i>
                                                    </span>
                                                </td>
                                                <td>
                                                    <div class="table-data__info">
                                                        <input name="ID" type="hidden" value="{{ data.id }}">
                                                        <button name="edit" class="btn btn-info" data-toggle="modal" data-target="#staticEdit">
                                                            <i class="zmdi zmdi-edit"></i>
                                                        </button>
                                                        <button name="delete" class="btn btn-danger" data-toggle="modal" data-target="#staticDelete">
                                                            <i class="zmdi zmdi-delete"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <input type="hidden" id="num" value="{{ num }}">
                                    <div id="pagination" class="pagination"></div>
                                </div>
                            </div>
                            <!-- END USER DATA-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->

            <div class="modal fade" id="staticDelete" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" data-backdrop="static" style="display: none;" aria-hidden="true">
				<div class="modal-dialog modal-sm" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="staticModalLabel">消息提示</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							<p>
								你是否真的要删除？
							</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
							<button type="button" class="btn btn-primary">确定</button>
						</div>
					</div>
				</div>
			</div>

            <div class="modal fade" id="staticEdit" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" style="display: none;" aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="largeModalLabel">信息修改</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							<aside class="profile-nav alt">
                                <section class="card">
                                    <div class="card-header user-header alt bg-dark">
                                        <div class="media">
                                            <a href="#">
                                                <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="/static/images/icon/me.jpg">
                                            </a>
                                            <div class="media-body">
                                                <h2 class="text-light display-6" id="engineer_name">Jim Doe</h2>
                                                <p>资深工程师</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <input type="hidden" id="ID" value="">
                                        <div class="row form-group">
                                            <div class="col-6 row">
                                                <div class="col-4">
                                                    <label for="text-input" class=" form-control-label">编号：</label>
                                                </div>
                                                <div class="col-7">
                                                    <input  value="" type="text" id="number" name="text-input" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-6 row">
                                                <div class="col-4">
                                                    <label for="text-input" class=" form-control-label">姓名：</label>
                                                </div>
                                                <div class="col-7">
                                                    <input type="text" id="name" name="text-input" class="form-control">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-6 row">
                                                <div class="col-4">
                                                    <label for="text-input" class=" form-control-label">性别：</label>
                                                </div>
                                                <div class="col-7">
                                                    <div class="rs-select2--dark rs-select2--sm rs-select2--border">
                                                        <select id="sex" name="id" class="js-select2 au-select-dark">
                                                            <option value="0">女</option>
                                                            <option value="1">男</option>
                                                        </select>
                                                        <div class="dropDownSelect2"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 row">
                                                <div class="col-4">
                                                    <label for="text-input" class=" form-control-label">出生日期：</label>
                                                </div>
                                                <div class="col-7">
                                                    <input name="birth_date" id="birth_date" type="date" value="1987-12-04"/>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-6 row">
                                                <div class="col-4">
                                                    <label for="text-input" class=" form-control-label">学历：</label>
                                                </div>
                                                <div class="col-7">
                                                    <div class="rs-select2--dark rs-select2--sm rs-select2--border">
                                                        <select id="education" name="time_length" class="js-select2 au-select-dark">
                                                            <option value="1">高中</option>
                                                            <option value="2">学士</option>
                                                            <option value="3">硕士</option>
                                                            <option value="4">博士</option>
                                                            <option value="5">其他</option>
                                                        </select>
                                                        <div class="dropDownSelect2"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 row">
                                                <div class="col-4">
                                                    <label for="text-input" class=" form-control-label">籍贯：</label>
                                                </div>
                                                <div class="col-7">
                                                    <input type="text" id="hometown" name="text-input" value="嘉兴" class="form-control">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-6 row">
                                                <div class="col-4">
                                                    <label for="text-input" class=" form-control-label">居住地址：</label>
                                                </div>
                                                <div class="col-7">
                                                   <input type="text" id="address" name="text-input" value="嘉兴" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-6 row">
                                                <div class="col-4">
                                                    <label for="text-input" class=" form-control-label">电话号码：</label>
                                                </div>
                                                <div class="col-7">
                                                    <input type="text" id="telphone" name="text-input" value="15455656454" class="form-control">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-6 row">
                                                <div class="col-4">
                                                    <label for="text-input" class=" form-control-label">工龄：</label>
                                                </div>
                                                <div class="col-7">
                                                   <div class="rs-select2--dark rs-select2--sm rs-select2--border">
                                                        <select id="seniority" name="time_length" class="js-select2 au-select-dark">
                                                            <option value="1">1年</option>
                                                            <option value="2">2年</option>
                                                            <option value="3">3年</option>
                                                            <option value="4">4年</option>
                                                            <option value="5">5年</option>
                                                        </select>
                                                        <div class="dropDownSelect2"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 row">
                                                <div class="col-4">
                                                    <label for="text-input" class=" form-control-label">基本薪水：</label>
                                                </div>
                                                <div class="col-7">
                                                    <input type="text" id="basic_wage" name="text-input" value="15455" class="form-control">
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                </section>
                            </aside>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
							<button type="button" class="btn btn-primary">确定修改</button>
						</div>
					</div>
				</div>
			</div>

        </div>

    </div>
{% endblock content %}

{% block cutsom_js %}
    <script>
        $('#content tr td:last-child').each(function () {
            console.log($(this).children('div').children('button[name="edit"]'));
            $(this).children('div').children('button[name="edit"]').bind('click', function () {
                console.log('hello');
                console.log($(this).parent().children('input').val());
                var ID = $(this).parent().children('input').val();
                var list = {
                    'id': ID
                };
                $.ajax({
                    //请求方式
                    type : "POST",
                    //请求的媒体类型
                    contentType: "application/json;charset=UTF-8",
                    //请求地址
                    url : "/engineer_detail",
                    //数据，json字符串
                    data : JSON.stringify(list),
                    //请求成功
                    success : function(result) {
                        console.log(result);
                        var datas = result['datas'];
                        var sex = datas['sex'];
                        var education = datas['education'] - 1;
                        console.log(sex + education);
                        console.log(datas);
                        $('#name').val(datas['name']);
                        $('#number').val(datas['number']);
                        console.log("238102384190849238094" + "|| " + sex);
                        console.log($('#sex').children('option').eq(sex));
                        $('#sex').children('option').eq(sex).prop("selected", true);
                        $('#birth_date').val(datas['birth_date']);
                        $('#engineer_name').html(datas['name']);
                        $('#education').children('option').eq(education).prop("selected", true);
                        {#$('#education').prop(datas['education'],true);#}
                        $('#hometown').val(datas['hometown']);
                        $('#address').val(datas['address']);
                        $('#telphone').val(datas['telphone']);
                        $('#basic_wage').val(datas['basic_wage']);
                    },
                    //请求失败，包含具体的错误信息
                    error : function(e){
                        console.log(e.status);
                        console.log(e.responseText);
                    }
                });
            })
        })
    </script>
{% endblock cutsom_js %}
