{% extends 'public/base.html' %}

{% block custom_css %}

    <!-- Fontfaces CSS-->

{% endblock custom_css %}

{% block content %}
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        {% include 'public/mobile_head.html' %}
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        {% include 'public/aside.html' %}
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            {% include 'public/head.html' %}
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- USER DATA-->
                            <div class="user-data m-b-30">
                                <h2 class="title-3 m-b-30">
                                    <i class="fa fa-signal"></i>
                                    股市行情榜
                                </h2>
                                <div class="filters m-b-45">
	                                <input type="hidden" value="{{ conditions.date }}" id="now_date">
	                                <input type="hidden" value="{{ conditions.p_change }}" id="now_p_change">
	                                <input type="hidden" value="{{ conditions.price_change }}" id="now_price_change">
	                                <input type="hidden" value="{{ conditions.volume }}" id="now_volume">
                                    <div class="rs-select2--dark rs-select2--md m-r-10 rs-select2--border">
                                        <input name="date_choose" id="date_choose" type="date" value="{{ conditions.date }}" min="2019-04-01" max="2020-04-02"/>
                                    </div>
                                    <div class="rs-select2--dark rs-select2--sm rs-select2--border">
                                        <select class="js-select2 au-select-dark" id="p_change">
                                            <option value="0" {% if conditions.p_change == 0 %}selected="selected"{% endif %}>涨跌幅度</option>
                                            <option value="1" {% if conditions.p_change == 1 %}selected="selected"{% endif %}>上涨</option>
                                            <option value="2" {% if conditions.p_change == 2 %}selected="selected"{% endif %}>下降</option>
                                        </select>
                                        <div class="dropDownSelect2"></div>
                                    </div>
                                    <div class="rs-select2--dark rs-select2--sm rs-select2--border">
                                        <select class="js-select2 au-select-dark" id="price_change">
                                            <option value="0" {% if conditions.price_change == 0 %}selected="selected"{% endif %}>价格变动</option>
                                            <option value="1" {% if conditions.price_change == 1 %}selected="selected"{% endif %}>上升</option>
                                            <option value="2" {% if conditions.price_change == 2 %}selected="selected"{% endif %}>下降</option>
                                        </select>
                                        <div class="dropDownSelect2"></div>
                                    </div>

	                                <a id="condition_submit" class="btn btn-primary" href="#" role="button">筛选</a>

                                </div>
                                <div class="table-responsive table-data" style="overflow-y: visible; height: auto">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <td style="font-size: 120%">编号</td>
                                                <td style="font-size: 120%">工作号</td>
                                                <td style="font-size: 120%">名字</td>
                                                <td style="font-size: 120%">性别</td>
                                                <td style="font-size: 120%">出生日期</td>
                                                <td style="font-size: 120%">出生地</td>
                                                <td style="font-size: 120%">地址</td>
                                                <td style="font-size: 120%">更多数据</td>
                                            </tr>
                                        </thead>
                                        <tbody id="content">
                                        {% for data in datas %}
                                            <tr>
                                                <input type="hidden" value="{{ data.id }}">
                                                <td>
                                                    <div class="table-data__info">
                                                        <h6 style="font-size: 110%; padding-left: 1em; {% if forloop.counter < 4 %}color: #ff9607;{% endif %} font-weight: 600">{{ forloop.counter }}</h6>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-data__info">
                                                        <h6>{{ data.name }}</h6>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-data__info">
                                                        <h6>{{ data.code }}</h6>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-data__info">
                                                        <h6>{{ data.date }}</h6>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-data__info" >
                                                        <h6 style="{% if data.p_mark == 1 %}color: #dc3545;{% else %}color:#28a745{% endif %}">{{ data.p_change }}</h6>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-data__info">
                                                        <h6 style="{% if data.price_mark == 1 %}color: #dc3545;{% else %}color:#28a745{% endif %}">{{ data.price_change }}</h6>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-data__info">
                                                        <h6 >{{ data.volume }}</h6>
                                                    </div>
                                                </td>
                                                <td>
                                                    <span id="more" class="more">
                                                        <i class="zmdi zmdi-more"></i>
                                                    </span>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <input type="hidden" id="num" value="{{ num }}">
                                    <div id="pagination" class="pagination"></div>
                                </div>
                            </div>
                            <!-- END USER DATA-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>
{% endblock content %}

{% block cutsom_js %}
{% endblock cutsom_js %}
