<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="/static/images/icon/logo.png" alt="Cool Admin" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul id="myCate" class="list-unstyled navbar__list">
                <input type="hidden" id="cateId" value="{{ cateId }}">
                <li>
                    <a href="/" style="color: #4272d7;">
                        <i class="fas fa-tasks"></i>信息统计</a>
                </li>
                <li>
                    <a href="/workerList">
                        <i class="fas fa-calendar"></i>工程师信息</a>
                </li>
                <li>
                    <a href="/calculation">
                        <i class="far fa-credit-card"></i>操作记录</a>
                </li>
                <li>
                    <a href="/aboutUs">
                        <i class="fas  fa-user"></i>关于我们</a>
                </li>

            </ul>
        </nav>
    </div>
</aside>