<header class="header-desktop">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="header-wrap">
                <form class="form-header" action="/select_message" method="POST">
                    <input class="au-input au-input--xl" type="text" name="search" placeholder="输入需要搜索的工程师名字或者编号" />
                    <button class="au-btn--submit" type="submit">
                        <i class="zmdi zmdi-search"></i>
                    </button>
                </form>
                <div class="header-button">
                    <div class="noti-wrap">
                        <div class="noti__item js-item-menu">
                            <i class="zmdi zmdi-comment-more"></i>
                            <span class="quantity">2</span>
                            <div class="notifi-dropdown js-dropdown">
                                <div class="notifi__title">
                                    <p>您最近收到的消息</p>
                                </div>
                                <div class="notifi__item">
                                    <div class="bg-c1 img-cir img-40">
                                        <i class="zmdi zmdi-email-open"></i>
                                    </div>
                                    <div class="content">
                                        <p>谢谢您对本产品的支持</p>
                                        <span class="date">2020-03-15</span>
                                    </div>
                                </div>
                                <div class="notifi__item">
                                    <div class="bg-c3 img-cir img-40">
                                        <i class="zmdi zmdi-file-text"></i>
                                    </div>
                                    <div class="content">
                                        <p>欢迎使用工程师管理系统</p>
                                        <span class="date">2020-03-14</span>
                                    </div>
                                </div>
                                <div class="notifi__footer">
                                    <a href="#">查看所有</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="account-wrap">
                        <div class="account-item clearfix js-item-menu">
                            <div class="image">
                                <img src="/static/images/icon/me.jpg" alt="John Doe" />
                            </div>
                            <div class="content">
                                <a class="js-acc-btn" href="#">东湖啊</a>
                            </div>
                            <div class="account-dropdown js-dropdown" style="z-index: 0">
                                <div class="info clearfix">
                                    <div class="image">
                                        <a href="#">
                                            <img src="/static/images/icon/me.jpg" alt="东湖大白鹅" />
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h5 class="name">
                                            <a href="#">东湖啊</a>
                                        </h5>
                                        <span class="email">东湖水，我的泪！！！</span>
                                    </div>
                                </div>
                                <div class="account-dropdown__body">
                                    <div class="account-dropdown__item">
                                        <a href="#">
                                            <i class="zmdi zmdi-account"></i>账户管理</a>
                                    </div>
                                    <div class="account-dropdown__item">
                                        <a href="#">
                                            <i class="zmdi zmdi-money-box"></i>资产管理</a>
                                    </div>
                                </div>
                                <div class="account-dropdown__footer">
                                    <a id="loginOut" href="/loginOut">
                                        <i class="zmdi zmdi-power"></i>退出登录</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>